<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <style>
        div {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <h1>Trabalho</h1>
    <p>Python, Django e Web Scraping</p>
    <p>Com a utilização das bibliotecas:
    Requests
    Beautiful Soup
    Django</p>

    <div>
        <a href="/news">CLIQUE AQUI PARA ACEDER AO WEB SCRAPER</a>
    </div>
    <div>
        <a href="/about">Créditos</a>
    </div>
</body>
</html>